configuration{
    display-drun: "Aplicaciones:";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font Medium 10";
    modi: "window,run,drun";
    show-icons: true;
    icon-theme: "Papirus";
}
@theme "/home/ruanmiga/.local/share/rofi/themes/squared-nord.rasi"
